@font-face {
  font-family: formula-regular;
  src: url(../fonts/Formula1-Regular.ttf);
}
@font-face {
  font-family: formula-bold;
  src: url(../fonts/Formula1-Bold.ttf);
}
@font-face {
  font-family: formula-black;
  src: url(../fonts/Formula1-Black.ttf);
}
@font-face {
  font-family: formula-wide;
  src: url(../fonts/Formula1-Wide.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}

#containerrr {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
  z-index: -1;
  overflow: hidden;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#preloader-video {
  position: relative; 
  z-index: 1; 
}

.lds-ring {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; 
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #1c4c5b;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #da0707 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .main-content {
  display: none;
} */


#navbar {
  position: fixed;
  top: -70px; 
  width: 100%;
  transition: top 0.3s;
  z-index: 1000;
  font-family: formula-regular;
  height: 60px;
}

.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: formula-bold;
}
.hero-text h1 {
  font-size: 3rem;
}

  /* width */
::-webkit-scrollbar {
    width: 12px;
}
 /* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.text-video{
  font-family: formula-black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 25px;
}
#pixi-container {
  width: 100%;
  height: 100%;
  overflow: hidden; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  /* border-radius: 25px; */
}

.play-button {
  background-image: url('./images/play.png'); 
  background-size: cover;
  width: 50px; 
  height: 50px;
  /* object-fit: cover; */
  border: 0;
  background-color:unset;
}

.mute-button {
  background-image: url('./images/mute.png'); 
  background-size: cover;
  width: 50px; 
  height: 50px;
  background-color: unset;
  border: 0;
  border-radius: 50%;
}

#image-slider {
  appearance: none; 
  width: 54%; 
  height: 20px; 
  background: #b93514 ; 
  outline: none; 
  border-radius: 50px; 
}
#image-slider::-webkit-slider-thumb {
  appearance: none; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  background: #FFFFFF; 
  cursor: pointer; 
}

.slider{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  /* margin-top: 20px; */
}
#pixi-con{
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 600px;
  

}

@media (max-width: 768px) {
  .hero{
    height: 350px;
  }
  .hero img{
    width: 100%;
    height: 100%;
  }
  .hero-text h1 {
    font-size: 2rem;
  }

  #pixi-con {
    max-width: 500px;
    max-height: 350px;
  }

  #image-slider {
    width: 80%;
  }

  .play-button,
  .mute-button{
    width: 30px;
    height: 30px;
    /* object-fit: contain; */
  }

}

@media (max-width: 480px) {
  .hero{
    height: 300px;
  }
  .hero img{
    width: 100%;
    height: 100%;
  }
  #pixi-con {
    max-width: 400px;
    max-height: 300px;
  }

  #image-slider {
    width: 90%;
  }

  .play-button,
  .mute-button{
    width: 20px;
    height: 20px;
    /* object-fit: contain; */
  }
}

.championsWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: 100px;
}
.champions {
  display: flex;
  white-space: nowrap;
  will-change: transform;
  gap: 150px; 
  transform: translateX(2%); 
}
.card {
  flex: 0 0 auto;
  width: 350px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}
.card img {
  width: 100%;
  padding: 15px;
  background: rgb(40,48,72);
  background: linear-gradient(180deg, rgba(40,48,72,1) 60%, rgba(133,147,152,1) 100%);
}

li.list-group-item.lart, .card-body{
  background: #859398;
}

.list-group-item {
  border: 0;
  border-top: 1px solid #ddd;
  padding: 10px 15px;
}

.strong, .card-title{
  font-family: formula-bold;
}

.strong{
  font-size: 12px;
}

.txt{
  font-family: formula-regular;
  font-size: 11px;
}

.lart{
  height: 40px;
}
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* Card container */
.cardt {
  position: relative;
  max-width: 700px;
  padding: 30px;
}

/* Alternating padding for odd and even cards */
.cardt:nth-child(odd) {
  padding-right: 0;
}

.cardt:nth-child(even) {
  padding-left: 0;
}

/* Global ::before */
.cardt::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid rgb(255, 0, 0);
}

/* Border for odd cards */
.cardt:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Border for even cards */
.cardt:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border for the first card */
.cardt:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border for the last odd card */
.cardt:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border for the last even card */
.cardt:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: rgb(60,60,61);
  background: linear-gradient(14deg, rgba(60,60,61,1) 0%, rgb(67,64,67) 99%);
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.titlee {
  color: rgb(255, 0, 0);
  position: relative;
  margin: 3px;
  font-family: formula-regular
}

/* Timeline dot */
.titlee::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  border: 3px solid rgb(0, 0, 0);
}

/* Text alignment and dot positioning for even and odd cards */
.cardt:nth-child(even) .titlee {
  text-align: right;
}

.cardt:nth-child(odd) .titlee::before {
  left: -45px;
}

.cardt:nth-child(even) .titlee::before {
  right: -45px;
}
.container-video {
  width: 700%;
  display: flex;
  flex-wrap: nowrap;
}

.panel {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  color: white;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}

.panel h1 {
  font-size: 1.8em;
  color: white;
  font-weight: 300;
  margin: 0 auto;
}
.black {
  background-color: #05080d;
}
.orange {
  background-color: #e77614;
}
.red {
  background-color: #c82736;
}

.panel.red, .panel.red2, .panel.red3 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.panel.black, .panel.black2, .panel.black3 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(5,8,13);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.panel.red::before {
  content: "Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine Engine";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-35deg);
  z-index: 0; 
  font-size: 5em;
  color: rgba(255, 255, 255, 0.2);
  font-family: formula-black;
}

.panel.red2::before {
  content: "Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels Wheels";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-35deg);
  z-index: 0; 
  font-size: 5em;
  color: rgba(255, 255, 255, 0.2);
  font-family: formula-black;
}

.panel.red3::before {
  content: "Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body  Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body Body";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-35deg);
  z-index: 0; 
  font-size: 5em;
  color: rgba(255, 255, 255, 0.2);
  font-family: formula-black;
}

.panel.black::before {
  content: "Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes Brakes";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-35deg);
  z-index: 0; 
  font-size: 5em;
  color: rgba(255, 255, 255, 0.2);
  font-family: formula-black;
}
.panel.black2::before {
  content: "Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet Helmet";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-35deg);
  z-index: 0; 
  font-size: 5em;
  color: rgba(255, 255, 255, 0.2);
  font-family: formula-black;
}
.panel.black3::before {
  content: "Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature Temperature";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-35deg);
  z-index: 0; 
  font-size: 5em;
  color: rgba(255, 255, 255, 0.2);
  font-family: formula-black;
}

.panel.red video, .panel.red2 video, .panel.red3 video {
  position: relative;
  width: 100%;
  height: auto; 
  max-width: 100%;
  max-height: 100%;
  z-index: 1; 
}

.panel.black video, .panel.black2 video, .panel.black3 video {
  position: relative;
  width: 100%;
  height: auto; 
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.panel.orange {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.panel.orange video {
  position: relative;
  width: 100%;
  height: 100%; 
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}